<h1>Reviewing <%= @application.applicant.user.name %>'s Application for <%= @application.scholarship.title %></h1>

<% if current_applicant %>
    <p>Please review your submission before submitting.</p>
<% end %>

<div class="panel panel-success">
    <div class="panel-heading">Scholarship Requirements</div>
    <div class="panel-body">
        <%= simple_format @application.scholarship.requirements %>
    </div>
</div>

<% @application.scholarship.sections.each do |s| %>
    <div class="panel panel-info scholarship-section">
    <div class="panel-heading"><%= s.title %></div>
    <div class="panel-body">
        <p><%= s.caption %></p>
        <% s.fields.each do |f| %>
            <div class="scholarship-input">
            <h4><%= f.title %></h4>
            <% d = f.data.where(:application_id => @application.id).first_or_create(:field_id => f.id, :status => 0) %>
            <% unless f.caption.empty? %><p><%= f.caption %></p><% end %>
            <% if f.completed_by == 'applicant' %>
                    <pre><%= d.display %></pre>
        <% elsif f.completed_by == 'admin' %>
                    <p>This will be completed by an administrator.</p>
        <% elsif f.completed_by == 'recommender' %>
                        <% if current_applicant || current_admin %>
                            <% if d.invitation && d.invitation.recommender_id %>
                                <% if d.invitation.complete %>
                                    <div class="well" style="background-color: #898;"><b>Recommendation from <%= d.invitation.recommender.name %> complete.</b></div>
                                <% else %>
                                    <div class="well" style="background-color: #888;">Recommendation accepted by <%= d.invitation.recommender.name %> but incomplete.</div>
                                <% end %>
                            <% else %>
                                    <div class="well" style="background-color: #988;">No Recommender invited!</div>
                            <% end %>
                        <% end %>

            <% else %>
                <p>I don't know who's supposed to complete this!</p>
            <% end %>

        </div>
    <% end %>
    </div>
</div>
<% end %>

<div class="panel panel-primary">
    <div class="panel-heading">Submit</div>
    <div class="panel-body">
        <p>If you need to make any changes to your information, use the back button in your browser or choose "Go Back" from the dropdown below.  To submit your application, select "Complete" from the dropdown below. <b>Warning!</b> Once you have marked your application as complete, there is no way to go back and change your responses.  Recommenders can still submit their recommendations after you've completed your application.</p>
        <%= form_for [@user, @application] do |f| %>
            <div class="form-group">
            <%= f.label :status %>
            <%= f.select :status, @statusList, :class => 'form-control' %>
        </div>

        <%= f.submit nil, :class => 'btn btn-primary' %>
    <% end %>
    </div>
</div>

<script>

function updateDatum(dx) {
        id = $(dx).attr('id');
        value = $(dx).val();
        $.post('<%= datum_update_path %>', {id: id, value: value}, function(d) {
            console.log(d);
            $('#' + id).addClass('has-success');
            }).fail(function(e) {
                $('#' + id).addClass('has-error');
                console.log('#' + id);
                console.log(e);
                });

}

$('.scholarship-field').change(function() {
        updateDatum(this);
        });

$('.scholarship-field').focus(function() {
        $(this).removeClass('has-success');
        $(this).removeClass('has-error');
        });
</script>

