<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <label>Email Address</label>
        <%= f.text_field :email, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>

    <div class="form-group">
        <label>Check this box if you're a recommender.</label>
        <%= f.check_box :recommender %>
    </div>

    <div class="actions">
        <%= f.submit :class => 'btn btn-success' %>
    </div>
<% end %>


