<h1>Listing users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email address</th>
      <th>Roles</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= role_labels user %></td>
        <td>
            <% if user.applicant %>
                <% c =  user.applicant.applications.where('status >= 100').count
                t = user.applicant.applications.count %>
                <%= c %> / <%= t %>
                <% if c == t %>
                    RATIO OK
                <% end %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a User', new_user_path, :class => 'btn btn-primary btn-lg' %>
